@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    background-color: #9fc6ef;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* To prevent horizontal scrollbar */
}

.vector-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('picture.jpg'); 
    background-position: center;
    background-size: cover;
    filter: blur(5px); 
    z-index: -1; 
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 1; 
}

header {
    border-radius: 0%;
    background-color: #6b48ff;
    color: #fff;
    padding: 20px 0;
    background-color: #9984f7;
    position: relative; 
    z-index: 1; 
}

.hero {
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    color: #b4b8ff;
    font-size: 2rem;
    font-weight: 600;
}

header h1 {
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
    margin-bottom: 0px;
}

h1 span:nth-child(2) {
    color: #8e77f374; 
}

h1 span.stop-blinking {
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #fff; }
}

nav {
    position: relative; 
    text-transform: inherit;
}

nav ul {
    list-style: none;
    margin-top: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #6b48ff; 
    text-decoration: none;
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #8383f9; 
    text-decoration: underline;
    text-transform: uppercase; 
}

section {
    padding: 40px 0;
}

h2 {
    color: #d3d0fa;
    font-size: 2em;
    margin-bottom: 20px;
}

h2:hover {
    color: #8c8cff6b; 
    text-shadow: 0 0 10px #1e1545, 0 0 20px #0a0717, 0 0 30px #100c24; 
    text-transform: unset;
    transition: width 2s, height 2s, transform 2s;
}

p {
    line-height: 1.6;
    color: #fff;
}

footer {
    background-color: #6b48ff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    text-shadow: #9984f7;
}

.contact-list li {
    margin-bottom: 10px;
}

.contact-list li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-decoration: rgb(242, 204, 223);
}

.contact-list li a i {
    margin-right: 10px;
    font-size: 1.2em;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5; 
    background: linear-gradient(90deg, #6b48ff, #9984f7, #b4b8ff, #9984f7, #6b48ff);
    animation: streaks 20s linear infinite;
}

@keyframes streaks {
    0% { background-position: 0 0; }
    100% { background-position: 100% 0; }
}
