body {
    font-family: 'Rubik', sans-serif;
    background-color: #f9f9f9;
    color: #fff;
    margin: 0;
    padding: 0;
}

.vector-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('picture.jpg'); 
    background-position: center;
    background-size: cover;
    filter: blur(5px); 
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    
}

header {
    border-radius: 0%;
    background-color: #6b48ff;
    color: #fff;
    padding: 20px 0;
    background-color: #9984f7;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}
nav {
    position: relative; 
}

nav ul {
    list-style: none;
    margin-top: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #6b48ff; 
    text-decoration: none;
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #0000ff; 
    text-decoration: underline; 
}

section {
    padding: 40px 0;
}

h2 {
    color: #6b48ff;
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    color: #fff;
}

footer {
    background-color: #6b48ff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 10px;
}

.contact-list li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contact-list li a i {
    margin-right: 10px;
    font-size: 1.2em;
}
